@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    border: 0;
}   

body {
    background-color: #407BC2;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

header {
    background: #407BC2 url(backg4.png) no-repeat fixed center;
    background-size: cover;
    color: #fff;
    width: 100%;
    min-height: 150px;
    text-align: center;
}

header h1 {
    padding-top: 40px;
    font-size: 3em;
}

nav {
    background-color: #1a3b63;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 20px 0px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.259);
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 25px;
    margin: auto;
}

nav a:hover.lit {
    color: purple;
    font-size: 1.6em;
    transition-duration: 1s;
}

nav a:hover.por {
    color: rgb(255, 179, 0);
    font-size: 1.6em;
    transition-duration: 1s;
}

nav a:hover.bio {
    color: greenyellow;
    font-size: 1.6em;
    transition-duration: 1s;
}

nav a:hover.red {
    color: red;
    font-size: 1.6em;
    transition-duration: 1s;
}

nav a:hover.fis {
    color: rgb(207, 5, 207);
    font-size: 1.6em;
    transition-duration: 1s;
}

nav a:hover.fil {
    color: orange;
    font-size: 1.6em;
    transition-duration: 1s;
}

nav a:hover.soc {
    color: orangered;
    font-size: 1.6em;
    transition-duration: 1s;
}

nav a:hover.geo {
    color: rgb(209, 179, 24);
    font-size: 1.6em;
    transition-duration: 1s;
}

nav a:hover.his {
    color: palevioletred;
    font-size: 1.6em;
    transition-duration: 1s;
}

nav a:hover.qui {
    color: yellow;
    font-size: 1.6em;
    transition-duration: 1s;
}

main {
    background-color: rgba(255, 255, 255, 0.949);
    margin: auto;
    min-width: 350px;
    max-width: 1050px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 0px 0px 3px 3px;
}

main h1, h2 {
    text-align: center;
    padding: 20px
}

main h3 {
    padding: 10px 50px;
}

main p {
    font-size: 1.1em;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}

footer {
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    background-color: white;
    padding: 2.5px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: #1a3b63;
}