@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    border: 0;
}   

body {
    background-color: #407BC2;
}

header {
    background: #407BC2 url(backg4.png) no-repeat fixed center;
    background-size: cover;
    color: #fff;
    width: 100%;
    min-height: 150px;
    text-align: center;
}

header h1 {
    padding-top: 40px;
    font-size: 3em;
}

nav {
    background-color: #1a3b63;
    text-align: center;
    height: auto;
    width: 100%;
    padding: 20px 0px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 25px;
    margin: auto;
}

nav a:hover {
    color: #407c94;
    font-size: 1.6em;
    transition-duration: 1s;
}

main {
    background-color: rgba(255, 255, 255, 0.949);
    margin: auto;
    min-width: 350px;
    max-width: 1050px;
    padding: 20px;
}

main h1, h2 {
    text-align: center;
    padding: 20px
}

main h3 {
    padding: 10px 50px;
}

main p {
    font-size: 1.1em;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}